<h2 mat-dialog-title *ngIf="data.title">{{ data.title }}</h2>
<mat-dialog-content *ngIf="!danger; else warn">{{ data.content }}</mat-dialog-content>
<ng-template #warn>
  <mat-dialog-content style="color: #ff6060;">{{ data.content }}</mat-dialog-content>
</ng-template>

<ng-container [ngSwitch]="type">
  <mat-dialog-actions *ngSwitchCase="'confirm'" align="center">
    <button mat-button [color]="danger? 'warn':''" [mat-dialog-close]="true">Yes</button>
    <button mat-button mat-dialog-close>No</button>
  </mat-dialog-actions>
  <mat-dialog-actions *ngSwitchCase="'alert'" align="center">
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</ng-container>