<mat-toolbar color="primary" class="m-navbar">
  <a mat-button [routerLink]="['/']">
    <img src="/assets/recipe.svg" alt="" class="icon">Recipe Book</a>
  <a mat-button [routerLink]="['/recipes']">Recipes</a>
  <a mat-button [routerLink]="['/shopping-list']">Shopping list</a>
  <span style="flex: 1 1 auto"></span>
  <a mat-button *ngIf="!isSignedIn" (click)="onSignIn()">Sign in/Sign up</a>
  <a mat-button *ngIf="isSignedIn" (click)="onSignOut()">Sign Out</a>
  <button mat-button role="button" [matMenuTriggerFor]="menu">Database</button>
  <mat-menu #menu>
    <button mat-menu-item (click)="onSaveRecipes()">Save recipes</button>
    <button mat-menu-item (click)="onFetchRecipes()">Fetch recipes</button>
  </mat-menu>
</mat-toolbar>

<mat-toolbar color="primary" class="m-header-title" *ngIf="headerTitle !== 'home'">
  <h1>{{ headerTitle }}</h1>
</mat-toolbar>