<form [formGroup]="addIngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Ingredient name" [errorStateMatcher]="errorStateMatcher"
          formControlName="name">
        <mat-error *ngIf="name.touched && name.hasError('required')">Ingredient name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput type="number" placeholder="Amount" [errorStateMatcher]="errorStateMatcher"
          formControlName="amount">
        <mat-error *ngIf="amount.touched && amount.hasError('positiveNumber')">Amount must be larger than 0</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
      <button mat-raised-button color="primary" type="submit">{{ selectedIng? 'Update':'Add' }}</button>
      <button mat-raised-button color="warn" type="button" (click)="onClickRemoveAll()">Delete all</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickAddRandom(10)">Add Random</button>
    </div>
  </div>
</form>