<form *ngIf="recipeIdIsValid || !isInEditMode; else notFound" [formGroup]="recipeForm"
  (submit)="onSubmit()">
  <button mat-raised-button color="primary" type="submit">Save</button>
  <button mat-raised-button color="warn" type="button" [routerLink]="['../']">Cancel</button>

  <mat-card style="margin-top: 10px;">
    <h2>{{ isInEditMode? 'Edit Recipe':'New Recipe' }}</h2>

    <mat-form-field class="full-width">
      <input matInput placeholder="Recipe name" formControlName="name">
      <mat-error *ngIf="name.hasError('required')">Recipe name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Image URL" type="url" formControlName="imagePath">
      <mat-error *ngIf="imagePath.hasError('required')">Image URL is required</mat-error>
      <img [src]="imagePath.value" alt="" *ngIf="testImageURL()" style="max-height: 200px; margin-top: 10px">
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput rows="6" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <ng-container formArrayName="ingredients">
      <h3>Ingredients</h3>
      <ng-container *ngFor="let ingControl of ingredients.controls;let i = index">
        <ng-container [formGroupName]="i">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="ingControl.get('name').hasError('required')">Ingredient name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Amount" formControlName="amount">
            <mat-error *ngIf="ingControl.get('amount').hasError('positiveNumber')">Amount must be larger than 0</mat-error>
          </mat-form-field>
          <span *ngIf="ingredients.controls.length > 1" class="icon-delete" (click)="onRemoveIng(i)"></span>
          <br>
        </ng-container>
      </ng-container>
      <svg height="30" width="30" (click)="onAddIng()" style="cursor: pointer; margin-top: 8px">
        <circle cx="15" cy="15" r="15" [attr.fill]="accent" />
        <line x1="7" y1="15" x2="23" y2="15" stroke-width="1" stroke="black" />
        <line x1="15" y1="7" x2="15" y2="23" stroke-width="1" stroke="black" />
      </svg>
    </ng-container>
  </mat-card>
</form>
<ng-template #notFound>
  <h1 style="text-align: center">Recipe not found</h1>
</ng-template>