<mat-toolbar color="primary" class="m-navbar">
  <a mat-button [routerLink]="['/']">
    <img src="/assets/recipe.svg" alt="" class="icon">Recipe Book</a>
  <a mat-button [routerLink]="['/recipes']">Recipes</a>
  <a mat-button [routerLink]="['/shopping-list']">Shopping list</a>
  <span style="flex: 1 1 auto"></span>

  <button mat-button [matMenuTriggerFor]="databaseMenu">Database</button>
  <mat-menu #databaseMenu>
    <button mat-menu-item (click)="onSaveRecipes()">
      <i class="material-icons">file_upload</i>
      <span>Save recipes</span>
    </button>
    <button mat-menu-item (click)="onFetchRecipes()">
      <i class="material-icons">file_download</i>
      <span>Fetch recipes</span>
    </button>
  </mat-menu>

  <button mat-button *ngIf="!isSignedIn;else account" (click)="onSignIn()">Sign in/Sign up</button>
  <ng-template #account>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <i class="material-icons">account_circle</i>
      <span>{{ userEmail }}</span>
    </button>
    <mat-menu #accountMenu>
      <button mat-menu-item (click)="onChangePassword()">
        <i class="material-icons">edit</i>
        <span>Change password</span>
      </button>
      <button mat-menu-item (click)="onSignOut()">
        <i class="material-icons">exit_to_app</i>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>

<mat-toolbar color="primary" class="m-header-title" *ngIf="headerTitle !== 'home'">
  <h1>{{ headerTitle }}</h1>
</mat-toolbar>