<ng-container *ngIf="recipe; else notFound">
  <div class="row end-xs">
    <div class="col-xs-12">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="recipeService.addToShoppingList(recipe)">Add to shopping list</button>
        <button mat-menu-item [routerLink]="['edit']">Edit recipe</button>
        <button mat-menu-item (click)="onDeleteRcipe()">Delete recipe</button>
      </mat-menu>

      <button mat-raised-button color="accent" (click)="onClickBack()">Back</button>
    </div>
  </div>
  <mat-card style="margin-top: 10px">
    <div>
      <img [src]="recipe.imagePath" style="max-height: 400px">
      <h2>{{ recipe.name }}</h2>
    </div>
    <mat-card-content>{{ recipe.description }}</mat-card-content>
    <h3 style="font-weight: 500">Ingredients</h3>
    <ul>
      <li *ngFor="let item of recipe.ingredients">
        <h4>{{ item.name }} ({{ item.amount }})</h4>
      </li>
    </ul>
  </mat-card>
</ng-container>
<ng-template #notFound>
  <h1 style="text-align: center">Recipe not found</h1>
</ng-template>