<ng-container *ngIf="recipe; else notFound">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe
  </button>
  <mat-menu #menu>
    <button mat-menu-item (click)="recipeService.addToShoppingList(recipe)">Add to shopping list</button>
    <button mat-menu-item [routerLink]="['edit']">Edit recipe</button>
    <button mat-menu-item (click)="onDeleteRcipe()">Delete recipe</button>
  </mat-menu>
  <mat-card style="margin-top: 10px">
    <h2>{{ recipe.name }}</h2>
    <img [src]="recipe.imagePath" style="height: 200px">
    <mat-card-content>{{ recipe.description }}</mat-card-content>
    <h2>Ingredients</h2>
    <mat-list>
      <mat-list-item *ngFor="let item of recipe.ingredients">{{ item.name }} ({{ item.amount }})</mat-list-item>
    </mat-list>
  </mat-card>
</ng-container>
<ng-template #notFound>
  <h1 style="text-align: center">Recipe not found</h1>
</ng-template>