@import '../../../themes/variables.styl';

.home-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: space-around;
  margin-top: $toolbar-height;
}

.home-panel h1 {
  color: white;
  font-size: 40px;
  font-weight: 500;
}
