<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <mat-card>
      <app-shopping-edit></app-shopping-edit>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="ingredients.length !== 0" style="margin-top: 20px;">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Search" #filterInput (input)="filterString = filterInput.value">
      </mat-form-field>
      <div style="max-height: 50vh; overflow: auto">
        <div class="list-item" *ngFor="let ing of ingredients | filter:filterString:'name'"
          [class.active]="ing === selectedIng" [style.backgroundColor]="ing === selectedIng? themeSwitcherService.getAccentColor():'unset'"
          (click)="onSelect(ing)" @removeAni>
          <span>{{ ing.name }} ({{ ing.amount }})</span>
          <span class="icon-delete" style="margin-left: 20px" *ngIf="ing === selectedIng" (click)="onDelete(ing)"></span>
        </div>
      </div>
    </mat-card>
  </div>
</div>