@import '~@angular/material/prebuilt-themes/purple-green.css';

$primary = #7b1fa2;
$accent = #69f0ae;

@import 'common.styl';

.mat-list-item.active .mat-list-item-content {
  color: black;
}

#to-recipes {
  color: white;
}