@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary = #673ab7;
$accent = #ffd740;

.home-panel {
  background-color: $primary;
}

.mat-list-item.active {
  background-color: $accent !important;
}

#to-recipes {
  color: black;
}