<ng-container [ngSwitch]="state">
  <form [formGroup]="passwordForm" *ngSwitchCase="'init'" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Current password" formControlName="currentPassword">
      <mat-error *ngIf="currentPassword.hasError('minChars')">Password must have at least {{ currentPassword.errors['minChars'] }} characters</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="New password" formControlName="newPassword">
      <mat-error *ngIf="newPassword.hasError('minChars')">Password must have at least {{ newPassword.errors['minChars'] }} characters</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" style="margin-top: 10px">Change</button>
  </form>

  <ng-container *ngSwitchCase="'pending'">
    <mat-dialog-content align="center">{{ message }}</mat-dialog-content>
    <mat-spinner [diameter]="40" [strokeWidth]="4" style="margin: 20px auto 0"></mat-spinner>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <h2 mat-dialog-title>Error</h2>
    <mat-dialog-content>{{ message }}</mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button (click)="onReturn()">Return</button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
