img {
  max-height: 100%;
}

mat-grid-tile {
  background-size: auto 100%;
  background-position: center;
}

mat-grid-tile-header {
  transition: background-color 0.3s ease;
}

a {
  flex-grow: 1;
  height: 100%;
}
