// switch material prebuilt themes
// 0. deeppurple-amber
// 1. purple-green
matTheme = 0;
$primary = #673ab7;
$accent = #ffd740;

if (matTheme == 0) {
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

  $primary = #673ab7;
  $accent = #ffd740;
} else {
  @import '~@angular/material/prebuilt-themes/purple-green.css';

  $primary = #7b1fa2;
  $accent = #69f0ae;
}