// switch material prebuilt themes
// 0. deeppurple-amber
// 1. purple-green
matTheme = 0;
$primary = #673ab7;
$accent = #ffd740;
$toolbar-height = 64px;

if (matTheme == 0) {
  $primary = #673ab7;
  $accent = #ffd740;
} else {
  $primary = #7b1fa2;
  $accent = #69f0ae;
}