<ng-container [ngSwitch]="state">
  <form [formGroup]="f" *ngSwitchCase="0" (ngSubmit)="null">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Email" formControlName="email">
      <mat-error *ngIf="email.hasError('email')">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="password.hasError('minChars')">Password must have at least {{ password.errors['minChars'] }} characters</mat-error>
    </mat-form-field>
    <mat-checkbox style="display: block" formControlName="remember">Remember me</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" (click)="signIn()" style="margin-top: 10px">Sign in</button>
    <h3 style="margin: 16px 0 16px 0">Don't have an account yet?</h3>
    <button mat-raised-button color="primary" type="submit" (click)="signUp()">Sign up</button>
  </form>

  <ng-container *ngSwitchCase="1">
    <mat-dialog-content align="center">{{ message }}</mat-dialog-content>
    <mat-spinner [diameter]="40" [strokeWidth]="4" style="margin: 20px auto 0"></mat-spinner>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <h2 mat-dialog-title>Error</h2>
    <mat-dialog-content>{{ message }}</mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button (click)="onReturn()">Return</button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>